@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
    --primary-color: #3498db;
    --secondary-color: rgba(255, 255, 255, 0.3);
    --text-color: rgb(255, 255, 255);
    --background-color: #f0f0f0;

    --glass-color: rgba(30, 30, 30, 0.26);
    --glass-templed: rgba(175, 173, 173, 0.13);
}
html, body , p , ul, ol, li, dl, dt, dd ,h1, h2, h3, h4, h5, h6, p, blockquote, pre ,a{
    color: var(--text-color);
    font-family: 'Poppins', sans-serif ;
}
html{
    width: 100%;
}
body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 100%;

}


.App-header {
    position: fixed;
    display: flex;
    height: 60px;
    width: 100%;

    justify-content: center;
    align-items: center;
    z-index: 5;
    font-size: 1rem;
    font-weight: bold;


}

.nav {
    display: flex;
    justify-content: space-evenly;
    width: 31.25rem;
    align-items: center;
    background-color: var(--glass-templed);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    height: 55%;

}
.nav a{
    cursor: pointer;


}
.nav a:hover{
    color: rgba(204, 196, 196, 0.75);
}


.account{
    width: 25px;
    height: 25px;
}

.logo {
    width: 50px;
    height: 50px;
}

#MainPage, .loginMain {
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;

    flex-direction: column;
    background-color: rgb(0, 0, 0);

}

.Title {
    margin-top: 16rem;
    width: 90%;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0rem;

    transform: translateY(-100px);
    opacity: 1;

}
.Title p {
    margin: 0;
}

.Vitamines{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.searchInput{
    width: 100%;
    justify-content: center;
    height: 3.313rem;
    text-align: center;
    display: flex;
    z-index: 4;

}
.input{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 1rem;
    color: #ffffff;
    background-color: var(--glass-templed);
    outline: none;
    font-size: 1rem;
    z-index: 5;

}
.input::placeholder {
    color: white;



}
.input:focus{
    outline: none;
}


.vitaminesGallery {
    width: 70%;
    display: flex;
    gap: 2rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.card {
    opacity: 1;
    display: inline-flex;
    flex-direction: column;
    height: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    padding: 1rem;
    backdrop-filter: blur(15px);
    border-radius: 50%;
    background-color: rgba(237, 235, 235, 0.07);
    border: 1px solid var(--secondary-color);
    transition: .5s;
    color: var(--text-color);
    overflow: hidden;
}

.vitamineName {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    transform: translateY(150%);
    transition: .2s;
}

.invisible {
    opacity: 0;
    transition: .5s;
}

.card:hover {
    cursor: pointer;

    background-color: rgba(99, 99, 99, 0.27);
}

.card:hover .invisible {
    opacity: 1;
}

.card:hover .vitamineName {
    transform: translateY(0%);
}

#detailsPage {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.vitamineContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
}
.vitamineCardContainer1{
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;

}

.vitamineCardContainer2{
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items :center;
    justify-content: space-around;




}
.vitamineTitleBacground {
    display: flex;

    position: fixed;
    left: -1000px;
    top: -1000px;

    width: 2000px;
    height: 2000px;
    z-index: 0;
    border-radius: 50%;
    background: radial-gradient(
            rgba(26, 255, 7, 0.94) 0%,
            rgba(0, 89, 255, 0.55) 30%,
            rgba(2, 2, 1, 0) 70%
    );
}
.vitamineTitleBacground2 {
    display: flex;

    position: fixed;
    right: -1000px;
    bottom: -1000px;

    width: 2000px;
    height: 2000px;
    z-index: 0;
    border-radius: 50%;

    background: radial-gradient(
            rgba(221, 0, 255, 0.87) 0%,
            rgba(0, 89, 255, 0.55) 30%,
            rgba(2, 2, 1, 0) 70%
    );

}


.vitamineTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-weight: bold;
    z-index: 1;
}

.vitamineTitle p{
    margin: 0;
    margin-top: 5rem;
}
.vitamineCard{
    width: 51.125rem;
    height: 14.813rem;
    border-radius: 20px;

    background-color: var(--glass-color);

}

.vitamineAlimentGContainer{
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: space-evenly;

    align-items: end;
    z-index: 3;
}
.vitamineInfosContainer{
    width: 100%;
    height: auto;

    gap: 1rem;
    z-index: 3;

    display: flex;
    justify-content: space-evenly;

}
.vitamineQuantity{
    width: 17.313rem;
    height: 16.313rem;
    background-color: var(--glass-color);
    border-radius: 20px;
    z-index: 3;
}

.vitamineAliment{
    width: 28.875rem;
    height: 16.313rem;
    background-color: var(--glass-color);
    border-radius: 20px;
}
.vitamineDescription{
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: start;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: start;
    top: 20px;
    overflow: auto;
    z-index: 5;




}
.vitamineDescription p{
top: 20px;
    padding: 1rem;
}

.effects{
    padding: 1rem;
    display: flex;
    flex-direction: column;

    width: 25rem;
    height: 17rem;
    background-color: var(--glass-color);
    border-radius: 20px;
    text-align: justify;
    justify-content: start;
     overflow: auto;
    z-index: 5;



}
.vitamineDescription::-webkit-scrollbar , .fonctions::-webkit-scrollbar, .effects::-webkit-scrollbar {
    background: transparent;
    width: 6px;
}

.vitamineDescription::-webkit-scrollbar-track ,.fonctions::-webkit-scrollbar-track, .effects::-webkit-scrollbar-track {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.vitamineDescription::-webkit-scrollbar-thumb , .fonctions::-webkit-scrollbar-thumb ,.effects::-webkit-scrollbar-thumb {
    background: transparent; /* invisible par défaut */
    border-radius: 20px;

}

.vitamineDescription:hover::-webkit-scrollbar-thumb, .fonctions:hover::-webkit-scrollbar-thumb  ,.effects:hover::-webkit-scrollbar-thumb {
    background:var(--glass-color);
    border-radius: 20px;
}

.effects p {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 5px;
}

.effects b {
    line-height: 1.5;
    margin-bottom: 10px;
    color: var(--text-color);
}

.calculateur{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18rem;
    height: 19rem;
    padding-left: 0.5rem;
    background-color: var(--glass-color);
    border-radius: 20px;
}

.fonctions{
    font-size: 1.2rem;
    overflow: auto;
    z-index: 5;

}


.vitamineAliment{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aliments-gallery{
    display: flex;
    align-items: center;
    height: 7rem;
    width: 90%;


    overflow-X: hidden;
}
.bubble{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--glass-color);
    width: 3.75rem;
    margin: .5rem;
    height: 3.75rem;
    border-radius: 50%;
    z-index: 4;
}
.AlimentImages{
    z-index: 4;
    width: 2.5rem;
    height:2.5rem;

}
.loginMain {
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    margin: auto;
}

.loginTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;

    margin-bottom: 1rem;
}



.vitamineColorInput{
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.color-picker {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    cursor: pointer;
    z-index: 99;
}

.preview {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, border-color 0.2s;
    z-index: 3;
}

.preview:hover {
    transform: scale(1.05);
    border-color: #555;
}

.hidden-color {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}
.vitamineDescriptionInput {

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    border: none;
    padding: 1rem;
    color: #ffffff;
    background-color: var(--glass-color);
    outline: none;
    font-size: 1rem;
}

.buttons , #send{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: fit-content;
    padding:10px 12px;
    border-radius: 20px;

    background-color: var(--glass-templed);
    border: none;
}

.buttonsSupprimer{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: fit-content;
    padding:10px 12px;
    border-radius: 20px;

    background-color: rgba(255, 0, 0, 0.91);
    border: none;
}
.buttons:hover {
    cursor: pointer;
}

.textInput {
    margin: 1rem 0rem;
    width: 50%;
    max-width: 200px;
    background-color: var(--glass-color); /* assure-toi que c'est bien défini */
    border: 2px solid rgba(255, 255, 255, 0.2); /* bordure subtile */
    padding: 5px 16px;
    border-radius: 9999px; /* pour effet très arrondi */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #fff;
    z-index: 5;


    outline: none;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.textInput:focus {
    border-color: rgba(255, 255, 255, 0.4);

}

.textInput::placeholder {
    color: rgba(255, 255, 255, 0.6);
}
.textInput option {
    background-color: rgba(255, 255, 255, 0.62); /* évite le fond noir total */
    color: #191919;
    font-weight: bold;
    z-index: 5;
}
.NomInput {
    z-index: 5;
    position: relative;
}

.buttonDarkMode{
    cursor: pointer ;
    position: absolute;

    right: 2%;
    display: flex;
    width: 60px;

    align-items: center;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.46);

    background-color: var(--glass-templed);

    z-index: 5;



}
.buttonDarkMode:hover {
    border: 2px solid var(--glass-templed);
}

.toggle{
    width: 20px;
    height: 20px;

}

.burgerMenu{
    position: absolute;
    top: 10px;
    left: 20px;
    display: none;
    width: 30px;
    height: 30px;
    z-index: 11;
}


@media (max-width: 1700px) {

    #detailsPage{
        width: 100%;
        height: auto;
    }
    .vitamineContainer{

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 100%;
        z-index: 4;

    }
    .Title{
        width: 100%;
        font-size: 4rem;
    }
    .Vitamines{

        display: flex;
        justify-content: center;

    }
    .vitamineTitle{
        width: 100%;
    }
    .vitamineCard{

        max-width: 50rem;

        margin: 1rem;
        z-index: 3;
    }
    .fonctions{
        width: 100%;
    }
    .vitamineDescription{
        width: 98%;

        z-index: 4;
    }
    .vitamineAlimentGContainer , .vitamineInfosContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 4rem;
    }
    .vitamineCardContainer1 {
        height: 40rem;
        width: 100%;

    }
    .vitamineCardContainer2{
        height: 50rem;
        width: 100%;

        display: flex;
        align-items: center;

    }



}
@media (max-width: 800px) {

    .App-header {

        position: fixed;
        display: flex;
        height: 60px;
        width: 100%;

        justify-content: center;
        align-items: center;
        flex-direction: column;

        font-size: 2rem;
        font-weight: bold;
        z-index: 5;
    }

    .nav {
        display: none;
        top: 0;

        position: fixed;

        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        height: 100%;
        border-radius: 0px;
        backdrop-filter: blur(15px);
        z-index: 10;
        background-color: rgba(255, 255, 255, 0);
    }
    .nav a{
        color: white;
    }
    .burgerMenu{
        display: block  ;
    }
    .menu-open{
        display: flex;

    }
    .menu-close{
        display: none;
    }



}


@media (max-width: 500px) {
    .effects{
        align-items: center;justify-content: start;
    }
    .vitamineTitle{
        font-size: 3rem;
    }
    .vitamineCardContainer2, .vitamineCardContainer1 {
        display: flex;
        justify-content: center;
        height: 70rem;
    }
    .vitamineInfosContainer, .vitamineAlimentGContainer{
        flex-direction: column;
        height: 50rem;
        align-items: center;
    }
    .effects , .vitamineAliment{
        width: 80%;
        justify-content: center;
    }
    .vitamineCard{
        width: 90%;
    }

}





