@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Pacifico&family=Permanent+Marker&display=swap');

#root {
    width: 100%;
    background-color: #f9f9f9;
    text-align: center;
    --primary-color: #3498db;
    --secondary-color: rgba(255, 255, 255, 0.3);
    --text-color: rgb(255, 255, 255);
    --background-color: #f0f0f0;

    --glass-color: rgba(218, 218, 218, 0.17);
    --glass-templed: rgba(204, 204, 204, 0.21);
}

html,
body,
p,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
.text {
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    width: 100%;

}


.App-header {
    position: fixed;
    display: flex;
    height: 60px;
    width: 100%;

    justify-content: center;
    align-items: center;
    z-index: 5;
    font-size: 1rem;
    font-weight: bold;


}

.nav {
    display: flex;
    justify-content: space-evenly;
    width: 31.25rem;
    align-items: center;
    background-color: var(--glass-templed);
    backdrop-filter: blur(50px);
    border-radius: 20px;
    height: 60%;
    border: 0.1rem solid var(--glass-templed);


}

.nav a:hover {
    color: rgba(204, 196, 196, 0.75);
    cursor: pointer;
}


.account {
    width: 25px;
    height: 25px;
}

.logo {
    width: 50px;
    height: 50px;
}

#MainPage,
.loginMain {
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    display: flex;
    align-items: center;

    flex-direction: column;
    background-color: rgb(0, 0, 0);

}

.Title {
    margin-top: 16rem;
    width: 90%;
    font-size: 6rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0rem;

    transform: translateY(-100px);
    opacity: 1;

}

.Title p {
    margin: 0;
}

.Vitamines {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchInput {
    width: 100%;
    justify-content: center;
    height: 3.313rem;
    text-align: center;
    display: flex;
    z-index: 4;

}

.input {
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    border-radius: 15px;
    width: 80%;
    border: none;
    padding: 0.5rem 1rem;
    color: #ffffff;
    background-color: var(--glass-templed);
    outline: none;
    font-size: 1rem;
    z-index: 5;

}

.inputSearch {
    padding: 1rem 0rem;
    border: none;

    background-color: transparent;
    font-size: 1.2rem;
    z-index: 5;
    color: #fff;
    font-weight: normal;
    width: 8rem;



}

.inputSearchDiv {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    background-color: var(--glass-templed);
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.12);

}

.inputSearchLabelImage {
    background-color: var(--glass-templed);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 1.9rem;
    position: relative;
    right: -0.6rem;




}

.input::placeholder,
.inputSearch::placeholder {
    color: white;



}

.input:focus,
.inputSearch:focus {
    outline: none;
}


.vitaminesGallery {
    width: 70%;
    display: flex;
    gap: 2rem 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
}

.card {
    opacity: 1;
    display: inline-flex;
    flex-direction: column;
    height: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    padding: 1rem;
    backdrop-filter: blur(50px);
    border-radius: 50%;
    background-color: var(--glass-color);
    border: 1px solid var(--glass-templed);
    transition: .5s;
    color: var(--text-color);
    overflow: hidden;
}

.vitamineName {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    transform: translateY(150%);
    transition: .2s;
}

.invisible {
    opacity: 0;
    transition: .5s;
}

.card:hover {
    cursor: pointer;
    background: radial-gradient(rgba(255, 255, 255, 0.01) 60%, rgba(255, 255, 255, 0.25));
    backdrop-filter: blur(200px);
    border: 1px solid rgba(255, 255, 255, 0);


}

.card:hover .invisible {
    opacity: 1;

}

.card:hover .vitamineName {
    transform: translateY(0%);
}

#detailsPage {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.vitamineContainer {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
}

.vitamineCardContainer1 {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;

}

.vitamineCardContainer2 {
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;




}

.vitamineTitleBacground {
    display: flex;

    position: fixed;
    left: -1000px;
    top: -1000px;

    width: 2000px;
    height: 2000px;
    z-index: 0;
    border-radius: 50%;
    background: radial-gradient(rgba(26, 255, 7, 0.94) 0%,
            rgba(0, 89, 255, 0.55) 30%,
            rgba(2, 2, 1, 0) 70%);
}

.vitamineTitleBacground2 {
    display: flex;

    position: fixed;
    right: -1000px;
    bottom: -1000px;

    width: 2000px;
    height: 2000px;
    z-index: 0;
    border-radius: 50%;

    background: radial-gradient(rgba(221, 0, 255, 0.87) 0%,
            rgba(0, 89, 255, 0.55) 30%,
            rgba(2, 2, 1, 0) 70%);

}


.vitamineTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    font-weight: bold;
    z-index: 1;
}

.vitamineTitle p {
    margin: 0;
    margin-top: 5rem;
}

.vitamineCard {
    width: 51.125rem;
    height: 14.813rem;
    border-radius: 20px;

    background-color: var(--glass-color);

}

.vitamineAlimentGContainer {
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: space-evenly;

    align-items: end;
    z-index: 3;
}

.vitamineInfosContainer {
    width: 100%;
    height: auto;

    gap: 1rem;
    z-index: 3;

    display: flex;
    justify-content: space-evenly;

}

.vitamineQuantity {
    width: 17.313rem;
    height: 16.313rem;
    background-color: var(--glass-color);
    border-radius: 20px;
    z-index: 3;
}

.vitamineAliment {
    width: 28.875rem;
    height: 16.313rem;
    background-color: var(--glass-color);
    border-radius: 20px;
}

.vitamineDescription {
    color: var(--text-color);
    font-size: 1.2rem;
    text-align: start;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 20px;
    overflow: auto;
    z-index: 5;
    height: 19rem;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.63), inset -1px -1px 1px rgba(253, 253, 253, 0.51);
    /* ombre intérieure */



}

.vitamineDescription p {
    padding-left: 3rem;
    padding-right: 3rem;
}

.effects {
    padding: 1rem;
    display: flex;
    flex-direction: column;

    width: 25rem;
    height: 17rem;
    background-color: var(--glass-color);
    border-radius: 20px;
    text-align: justify;
    justify-content: start;
    overflow: auto;
    z-index: 5;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.51), inset -1px -1px 1px rgba(253, 253, 253, 0.41);
    /* ombre intérieure */



}

.vitamineDescription::-webkit-scrollbar,
.fonctions::-webkit-scrollbar,
.effects::-webkit-scrollbar {
    background: transparent;
    width: 6px;
}

.vitamineDescription::-webkit-scrollbar-track,
.fonctions::-webkit-scrollbar-track,
.effects::-webkit-scrollbar-track {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.vitamineDescription::-webkit-scrollbar-thumb,
.fonctions::-webkit-scrollbar-thumb,
.effects::-webkit-scrollbar-thumb {
    background: transparent;
    /* invisible par défaut */
    border-radius: 20px;

}

.vitamineDescription:hover::-webkit-scrollbar-thumb,
.fonctions:hover::-webkit-scrollbar-thumb,
.effects:hover::-webkit-scrollbar-thumb {
    background: var(--glass-color);
    border-radius: 20px;
}

.effects p {
    line-height: 1.5;
    margin-bottom: 10px;
    margin-top: 5px;
}

.effects b {
    line-height: 1.5;
    margin-bottom: 10px;
    color: var(--text-color);
}

.calculateur {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 18rem;
    height: 19rem;
    padding-left: 0.5rem;
    background-color: var(--glass-color);
    border-radius: 20px;
}

.fonctions {
    font-size: 1.2rem;
    overflow: auto;
    z-index: 5;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.47), inset -1px -1px 1px rgba(253, 253, 253, 0.47);
    /* ombre intérieure */

}

.fonctions p {
    padding-left: 6rem;
    padding-right: 6rem;
    text-align: justify;
}


.vitamineAliment {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px 1px rgba(255, 255, 255, 0.52), inset -1px -1px 1px rgba(253, 253, 253, 0.49);
    /* ombre intérieure */
}

.aliments-gallery {
    display: flex;
    align-items: center;
    height: 7rem;
    width: 90%;


    overflow-X: hidden;
}

.bubble {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--glass-color);
    width: 3.75rem;
    margin: .5rem;
    height: 3.75rem;
    border-radius: 50%;
    z-index: 4;
}

.AlimentImages {
    z-index: 4;
    width: 2.5rem;
    height: 2.5rem;

}

.loginMain {
    justify-content: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;
    padding: 2rem;
    border-radius: 1rem;
    width: 90%;
    max-width: 300px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: all 0.3s ease;
    margin: auto;
}

.loginTitle {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;

    margin-bottom: 1rem;
}



.vitamineColorInput {
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.color-picker {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    cursor: pointer;
    z-index: 99;
}

.preview {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    border: 2px solid #ccc;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, border-color 0.2s;
    z-index: 3;
}

.preview:hover {
    transform: scale(1.05);
    border-color: #555;
}

.hidden-color {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.vitamineDescriptionInput {

    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border-radius: 20px;
    border: none;

    white-space: pre-wrap;
    /* ou "pre" ou "pre-line" */

    padding: 1rem;
    color: #ffffff;
    background-color: var(--glass-color);
    outline: none;
    font-size: 1rem;
}


.buttons,
#send {
    font-family: 'popyns', sans-serif;

    width: fit-content;
    padding: 10px 12px;
    border-radius: 20px;

    background-color: var(--glass-templed);
    border: none;
    cursor: pointer;
}

#send {
    margin-top: 2rem;
    padding: 0.5rem 3rem;
}


.buttonsSupprimer {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    width: fit-content;
    padding: 10px 12px;
    border-radius: 20px;

    background-color: rgba(255, 0, 0, 0.91);
    border: none;
}

.buttons:hover {
    cursor: pointer;
}

.textInput {
    margin: 1rem 0rem;
    width: 50%;
    max-width: 200px;
    background-color: var(--glass-color);
    /* assure-toi que c'est bien défini */
    border: 2px solid rgba(255, 255, 255, 0.2);
    /* bordure subtile */
    padding: 5px 10px;
    border-radius: 9999px;
    /* pour effet très arrondi */
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: #fff;
    z-index: 5;


    outline: none;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.textInput:focus {
    border-color: rgba(255, 255, 255, 0.4);

}

.textInput::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.textInput option {
    background-color: rgba(255, 255, 255, 0.62);
    /* évite le fond noir total */
    color: #191919;
    font-weight: bold;
    z-index: 5;
}

.NomInput {
    z-index: 3;
    position: relative;
}

.buttonDarkMode {
    cursor: pointer;
    position: absolute;

    right: 2%;
    display: flex;
    width: 60px;

    align-items: center;
    height: 30px;
    border-radius: 30px;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.46);

    background-color: var(--glass-templed);

    z-index: 5;



}

.buttonDarkMode:hover {
    border: 2px solid var(--glass-templed);
}

.toggle {
    width: 20px;
    height: 20px;

}

.burgerMenu {
    position: absolute;
    top: 10px;
    left: 20px;
    display: none;
    width: 30px;
    height: 30px;
    z-index: 11;
}


@media (max-width: 1700px) {

    #detailsPage {
        width: 100%;
        height: auto;
    }

    .vitamineContainer {

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: auto;
        width: 100%;
        z-index: 4;

    }

    .Title {
        width: 100%;
        font-size: 4rem;
    }

    .Vitamines {

        display: flex;
        justify-content: center;

    }

    .vitamineTitle {
        width: 100%;
    }

    .vitamineCard {

        max-width: 50rem;
        height: 20rem;
        margin: 1rem;
        z-index: 3;
    }

    .fonctions {
        width: 100%;
    }

    .vitamineDescription {
        width: 100%;

        align-items: start;

        z-index: 4;
    }

    .vitamineDescription h2 {
        width: 100%;
        text-align: center;

    }

    .vitamineAlimentGContainer,
    .vitamineInfosContainer {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 4rem;
    }

    .vitamineCardContainer1 {
        height: 40rem;
        width: 100%;

    }

    .vitamineCardContainer2 {
        height: 50rem;
        width: 100%;

        display: flex;
        align-items: center;

    }

    .vitamineTitleBacground {
        display: flex;

        position: fixed;
        left: 50%;
        top: 60%;

        width: 900px;
        height: 900px;
        z-index: 0;
        border-radius: 50%;
        background: radial-gradient(rgba(26, 255, 7, 0.94) 0%,
                rgba(0, 89, 255, 0.55) 30%,
                rgba(2, 2, 1, 0) 70%);
    }

    .vitamineTitleBacground2 {
        display: flex;

        position: fixed;
        right: 60%;
        bottom: 60%;

        width: 900px;
        height: 900px;
        z-index: 0;
        border-radius: 50%;

        background: radial-gradient(rgba(221, 0, 255, 0.87) 0%,
                rgba(0, 89, 255, 0.55) 30%,
                rgba(2, 2, 1, 0) 70%);
    }





}

@media (max-width: 800px) {

    .App-header {

        position: fixed;
        display: flex;
        height: 60px;
        width: 100%;

        justify-content: center;
        align-items: center;
        flex-direction: column;

        font-size: 2rem;
        font-weight: bold;
        z-index: 5;
    }


    .nav {
        display: none;
        top: 0;

        position: fixed;

        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        align-items: center;
        height: 100%;
        border-radius: 0px;
        backdrop-filter: blur(15px);
        z-index: 10;
        background-color: rgba(255, 255, 255, 0);
    }

    .nav a {
        color: white;
    }

    .burgerMenu {
        display: block;
    }

    .menu-open {
        display: flex;

    }

    .menu-close {
        display: none;
    }





}


@media (max-width: 500px) {
    .vitamineDescription {
        font-size: 1rem;
        align-items: start;
        justify-content: start;
        text-align: center;

    }

    .effects {
        align-items: center;
        justify-content: start;
    }

    .vitamineTitle {
        font-size: 3rem;
    }

    .vitamineCardContainer2,
    .vitamineCardContainer1 {
        display: flex;
        justify-content: space-evenly;

        height: 50rem;

    }

    .vitamineInfosContainer,
    .vitamineAlimentGContainer {
        flex-direction: column;
        height: 30rem;
        align-items: center;

    }

    .vitamineInfosContainer {
        flex-direction: column-reverse;

    }


    .effects,
    .vitamineAliment {
        width: 80%;
        justify-content: start;
        padding: 0.5rem 1rem;
        font-size: medium;

    }

    .vitamineCard {
        width: 90%;
        margin: 4rem;
    }

    .fonctions {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        overflow-y: auto;
        /* scroll vertical si besoin */
    }

    .fonctions p {
        padding: 0.5rem;
        width: 250px;
        text-align: left;
        font-size: medium;
    }

    .vitamineCardContainer2 {
        margin-bottom: 5rem;
    }

    .vitamineTitleBacground {
        display: flex;

        position: fixed;
        left: 10%;
        top: 60%;

        width: 700px;
        height: 700px;
        z-index: 0;
        border-radius: 50%;
        background: radial-gradient(rgba(26, 255, 7, 0.94) 0%,
                rgba(0, 89, 255, 0.55) 30%,
                rgba(2, 2, 1, 0) 70%);
    }

    .vitamineTitleBacground2 {
        display: flex;

        position: fixed;
        right: 10%;
        bottom: 60%;

        width: 700px;
        height: 700px;
        z-index: 0;
        border-radius: 50%;

        background: radial-gradient(rgba(221, 0, 255, 0.87) 0%,
                rgba(0, 89, 255, 0.55) 30%,
                rgba(2, 2, 1, 0) 70%);

    }


}


@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateX(0);
    }

    to {
        opacity: 0;
        transform: translateX(10px);
    }
}

.notification-enter {
    animation: fadeIn 0.4s forwards;
}

.notification-exit {
    animation: fadeOut 0.4s forwards;
}